.add-conn-modal {
    background-color: var(--popup-bg);
    color: var(--text-color);
}
.add-conn-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--popup-bg);
}
.header-add-conn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 2%;
}

.conn-search-input {
    width: 80%;
}
.conn-button-wrapper {
    width: 15%;
}
.conn-search-text {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    font-size: 1em;
    padding: 1% 0%;
    color: var(--text-color);
    padding-left: 1%;
}
.conn-search-text::placeholder {
    color: var(--text-color);
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    padding-left: 1%;
}
.conn-search-btn {
    padding: 0.4em 3em;
    color: var(--button-primary-text);
    font-size: 1em;
    font-weight: 600;
    background: var(--button-primary);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conn-search-btn:hover {
    background-color: var(--button-primary-hover);
    color: var(--button-primary-hover-text);
}
.conn-list {
    height: 80%;
    width: 100%;
    padding: 0px 2%;
    overflow: hidden;
    overflow-y: auto;
}
.conn-list ul {
    list-style: none;
}
.conn-list ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0%;
    border-bottom: 1px solid var(--text-color);
    font-weight: 600;
    font-size: 1em;
}
.conn-list-btn {
    padding: 0.5em 2em;
    color: var(--button-secondary-text);
    background: var(--button-secondary);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.conn-list-btn:hover {
    background-color: var(--button-secondary-hover);
    color: var(--button-secondary-hover-text);
}

@media only screen and (max-width: 600px) {
    .header-add-conn {
        justify-content: space-between;
        padding: 3% 2%;
    }
    .conn-search-input {
        width: 60%;
    }
    .conn-button-wrapper {
        width: 30%;
    }
    .conn-search-text {
        padding-left: 5%;
    }
    .conn-search-text::placeholder {
        padding-left: 2%;
    }
}
