/* Text box */
.custom-textbox-wrapper {
    height: 100%;
    width: 100%;
}
.custom-textbox-wrapper p {
    font-size: medium;
    font-weight: 600;
}
.custom-textbox {
    outline: none;
    background: inherit;
}

/* Button */
.custom-btn {
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

/* Modal popup */
.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(40, 67, 135, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: 2px solid black;
}
.large {
    height: 80%;
    width: 90%;
    background-color: white;
    overflow: hidden;
}
.mid {
    height: 70%;
    width: 80%;
    background-color: white;
    overflow: hidden;
}
.small {
    height: 50%;
    width: 70%;
    background-color: white;
    overflow: hidden;
}
.popup-cross {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2% 0 2%;
}
.popup-cross p {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}
.popup-cross span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .popup-cross {
        padding: 3% 2% 0 2%;
    }
}
