
.enter-otp-container {
    height: 250px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    background-color: var(--popup-bg);
    overflow: hidden;
    overflow-y: auto;
}
.otp-label{
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 8% 0% 6% 0%;
    color: var(--popup-text);
}
.otp-box-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}
.otp-box{
    height: 70px;
    width: 70px;
    border: 3px solid var(--button-primary);
    border-radius: 10px;
}
.otp-textbox{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--accent);
}

@media only screen and (max-width: 600px) {
    .enter-otp-container {
        height: 25%;
        width: 95%;
    }
    .otp-box-container {
        padding: 0% 1%;
    }
    .otp-box{
        height: 70px;
        width: 70px;
    }
    .otp-textbox{
        font-size: 2em;
    }
}

@media only screen and (max-width: 400px) {
    .enter-otp-container {
        height: 30%;
        width: 95%;
    }
    .otp-box-container {
        padding: 0% 1%;
    }
    .otp-box{
        height: 55px;
        width: 55px;
    }
    .otp-textbox{
        font-size: 1.5em;
    }
}