.home-container {
    height: 100vh;
    width: 100vw;
    background-color: #1f3540;
}
.home-wrapper {
    height: 100%;
    width: 92%;
    margin: 0px 4%;
    position: relative;
    background-color: inherit;
}
.home-header {
    font-size: 2em;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 10%;
    z-index: 1;
}
.home-header span {
    color: #4cc75e;
}
.add-friend-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    z-index: 2;
}
.friend-request-icon {
    font-size: 2.5em;
    cursor: pointer;
    position: relative;
    color: #4cc75e;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0em;
}
.friend-request-icon div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 15%;
    font-size: 15px;
    background-color: rgb(228, 45, 45);
    color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus-icon {
    display: none;
}

.add-friend {
    padding: 0.3em 1em;
    color: white;
    background: #26ffcb;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border: 1px solid #397b9c;
}
.add-friend:hover {
    color: black;
}
.home-body {
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
}
.main-btn-container {
    height: 50%;
    margin: 0 1em 0 0;
}
.home-body-btn {
    padding: 0.4em 2.5em;
    color: white;
    background-color: #26ffcb;
    border: 1px solid #397b9c;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
}
.home-body-btn:hover {
    color: black;
}
.home-main {
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-auto-rows: 170px;
    grid-gap: 30px;
    overflow: hidden;
    overflow-y: auto;
}
.home-main .friend-tile {
    border: 3px solid #397b9c;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 0px;
    background-color: #1a455a;
    cursor: pointer;
}
.home-main .friend-tile:hover {
    background-color: #1f3540;
}
.friend-tile b {
    color: white;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    text-align: center;
}
.friend-status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.red {
    background-color: red;
}
.green {
    background: #4cc75e;
}
.friend-logo {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #1f3540;
    color: #26ffcb;
    border: 3px solid #ffcc26;
}
.connection-req-sidebar {
    position: absolute;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 3;
    padding: 1%;
    background-color: #1a455a;
    transition: left 0.5s;
}
.close {
    left: -100%;
}
.open {
    left: 0;
}
.connection-req-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    color: white;
}
.connection-req-header p {
    font-size: 1.5em;
    font-weight: 800;
}
.connection-req-header span {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.connection-req-body {
    height: 84%;
    overflow: hidden;
    overflow-y: auto;
}
.connection-sidebar-seperator {
    height: 3%;
}
.connection-req-body ul {
    list-style: none;
}
.connection-req-body li {
    text-wrap: wrap;
    padding: 1em 0px;
    color: white;
    border-bottom: 2px solid white;
}
.connection-req-body li div {
    display: flex;
    padding: 1em 0px 0px 0px;
}
.connection-req-btns {
    padding: 0.4em 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 1%;
    color: white;
    background: #26ffcb;
    font-size: 1em;
    font-weight: 800;
}
.connection-req-btns:hover {
    color: black;
}
.connection-req-footer {
    height: 5%;
    width: 100%;
}
.log-out-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    background: #26ffcb;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.log-out-btn:hover {
    color: black;
}

@media only screen and (max-width: 600px) {
    .home-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 10%;
    }
    .add-friend-button {
        height: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .add-friend {
        display: none;
    }
    .plus-icon {
        display: contents;
    }
    .home-body {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .home-body-btn {
        padding: 0.4em 2em;
    }
    .home-main {
        height: 80%;
    }
    .main-btn-container {
        height: 60%;
    }
    .home-main {
        display: grid;
        grid-template-columns: repeat(auto-fit, 170px);
        grid-auto-rows: 190px;
        grid-gap: 30px;
        overflow: hidden;
        overflow-y: auto;
    }
    .connection-req-sidebar {
        width: 100%;
    }
    .friend-request-icon {
        margin-left: 0.5em;
    }
    .friend-request-icon div {
        top: 25%;
    }
    .friend-tile b {
        font-size: 1.5em;
    }
    .friend-logo {
        font-size: 2.3em;
    }
}
@media only screen and (max-width: 400px) {
    .home-body-btn {
        padding: 0.4em 1.2em;
    }
    .friend-request-icon {
        margin-left: 0em;
    }
    .friend-request-icon div {
        top: 15%;
    }
}
